<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="calendarMapper">
	<resultMap type="Schedule" id="scheduleResultSet">
		<result column="SCHEDULE_NO" property="scheduleNo"/>
		<result column="TITLE" property="title"/>
		<result column="MEMO" property="memo"/>
		<result column="START_DATE" property="startDate"/>
		<result column="END_DATE" property="endDate"/>
		<result column="LOCATION" property="location"/>
		<result column="USER_ID" property="userId"/>
	</resultMap>
	
	<insert id="insertSchedule" parameterType="Schedule">
		INSERT INTO SCHEDULE(SCHEDULE_NO,TITLE,START_DATE,END_DATE,USER_ID,LOCATION,MEMO)
		VALUES(SEQ_SNO.NEXTVAL,#{title},#{startDate},#{endDate},#{userId},#{location},#{memo})
	</insert>
	
	<select id="selectSchedule" resultMap="scheduleResultSet">
		SELECT SCHEDULE_NO,TITLE,MEMO,START_DATE,END_DATE,LOCATION,USER_ID
		FROM SCHEDULE 
		WHERE USER_ID=#{userId}
	</select>
	
	<select id="detailSchedule" resultMap="scheduleResultSet" parameterType="_int">
		SELECT SCHEDULE_NO,TITLE,MEMO,START_DATE,END_DATE,LOCATION,USER_ID
		FROM SCHEDULE 
		WHERE SCHEDULE_NO=#{scheduleNo}
	</select>
	
	<delete id="deleteSchedule" parameterType="_int">
		DELETE FROM SCHEDULE WHERE SCHEDULE_NO=#{scheduleNo}
	</delete>
	
	<update id="updateSchedule" parameterType="Schedule">
		UPDATE SCHEDULE SET TITLE=#{title},MEMO=#{memo},START_DATE=#{startDate},END_DATE=#{endDate},LOCATION=#{location}
		WHERE SCHEDULE_NO=#{scheduleNo}
	</update>
	
	<select id="followList" parameterType="string" resultType="User">
		SELECT USER_ID userId, USER_MEMO userMemo, PROFILE_PATH profilePath, PROFILE_ORIGINNAME profileOriginName, PROFILE_CHANGENAME profileChangeName
		FROM USERS
		WHERE USER_ID IN (SELECT TO_USER
                  FROM FOLLOWLIST
                  WHERE FROM_USER = #{userId})
        AND STATUS='Y'    
        ORDER BY userId      
	</select>
	
	<select id="selectShareSchedule" parameterType="string" resultMap="scheduleResultSet">
		SELECT SCHEDULE_NO,TITLE,START_DATE,END_DATE,USER_ID
		FROM SCHEDULE
		WHERE USER_ID =#{userId}
	</select>
	
	<select id="followListCount" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		FROM USERS
		WHERE USER_ID IN (SELECT TO_USER
                  FROM FOLLOWLIST
                  WHERE FROM_USER = #{userId})
        AND STATUS='Y'          
	</select>
	
	<select id="searchFollower" parameterType="FollowList" resultType="User">
		SELECT USER_ID userId, USER_MEMO userMemo, PROFILE_PATH profilePath, PROFILE_ORIGINNAME profileOriginName, PROFILE_CHANGENAME profileChangeName
		FROM USERS
		WHERE USER_ID IN (SELECT TO_USER
                  FROM FOLLOWLIST
                  WHERE FROM_USER = #{fromUser}
                  AND TO_USER LIKE '%'||#{toUser}||'%')
        AND STATUS='Y'
	</select>
</mapper>